@{
    ViewBag.Title = "File Upload Test";
}
<h2>File Upload Controller - Index</h2>
<p>Index View of File Upload Controller</p>
<p>File upload request received.</p>
<p>File received: @ViewData["uploaded"]</p>
